@page "/"
@using GaiaWeb.Web.Components.Layout
@layout LoginLayout
<h3>Login</h3>

<div class="container">
    <h4>Login</h4>

    <form>
        <label>Email</label>
        <input type="email" class="form-control" required/>

        <label>Senha</label>
        <input type="password" class="form-control" required />

        <input type="submit" class="btn btn-primary mt-3" value="Login" />
    </form>
</div>


@code {

}
