@page "/register"
<h3>Registration</h3>

<div class="container">
    <h4>Registration</h4>

    <form>
        <label>Nome</label>
        <input type="text" class="form-control" required />

        <label>Email</label>
        <input type="email" class="form-control" required />

        <label>Senha</label>
        <input type="password" class="form-control" required />

        <input type="submit" class="btn btn-primary mt-3" value="Registrar" />
    </form>
</div>

@code {

}
